* {
  /* para evitar agrandamiento de caja */
  box-sizing: border-box;

  /* propiedades de espaciado */
  padding: 0;
  border: 0;
  margin: 0;
  outline: none;
  /* propiedades de tipografia */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #f2f2f2;
  list-style: none;
}

.main_btn-reserve {
  width: 240px;
  height: 70px;
  margin-top: 30px;
}

/* Carlos */

body {
  background-image: linear-gradient(60deg, #30bcff, #006698);
  font-size: 16px;
  line-height: 20px;
}

.head {
  width: 100%;
  padding: 40px;
  display: flex;
}

.navbar {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-contact {
  border: 2px solid #f2f2f2;
  width: 240px;
  height: 72px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 410px;
}

.logo {
  width: 80px;
  height: 60px;
}

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1200px;
}

.main {
  padding: 20px;
}

.main__title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title-container__sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.jumbotron {
  margin-top: 80px;
  margin-bottom: 80px;
}



h1 {
  font-size: 32pt;
  line-height: 36px;
  padding-bottom: 20px;
}

h2 {
  font-size: 28pt;
  line-height: 32px;
}

h3 {
  font-size: 24pt;
  line-height: 28px;
}

.gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.gallery__container {
    width: 100%;
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* end carlos */


/* start karlos */
.gallery__container img{
  height: 365px;
  width: 350px;
  border-radius: 50px;
}
.left-pharam{
  text-align: left;
  padding: 40px;  
}
.pharam h2 {
  padding-bottom: 40px;
}
.right-pharam{
  text-align: right;
  padding: 40px;
}
.bottom-gallery .images-line{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.bottom-gallery .images-line img{
  border-radius: 50px;
  height: 250px;
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.images-line .first-line{
  display: flex;
  gap: 1em;
  padding-bottom: 10px;
}
.images-line .second-line{
  display: flex;
  gap: 1em;
  padding-bottom: 10px;
}
.images-line .final-line{
  display: flex;
  gap: 1em;
  padding-bottom: 10px;
}
.bottom-text{
  margin-bottom: 80px;
  margin-top: 40px;
}
.pharam2 h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}
.pharam2 p{
  padding-bottom: 20px;
}
.final_btn-contact{
  border: 2px solid white;
  width: 240px;
  height: 72px;
}
footer{
  background-color: #1c0098;
  padding: 40px;
}
.final-navbar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  align-items: center;
}
.footer-list ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.f-img .img-p{
  display: flex;
  flex-direction: column;
}
.f-img .img-p img{
  width: 80px;
  height: 60px;

}

.social .social-media{
  display: flex;
  gap: .5em;
  height: 30px;
}

button {
  background-color: transparent;
  border-radius: 2rem;
  border: solid 2px #f2f2f2;
  font-weight: bold;
  padding: 0.7rem 2.3rem;
  transition: all 0.3s ease-out;
}
button:hover {
  background-color: #f2f2f2;
  color: #30bcff;
  /* jamas colocar el border dentro del hover */ 
}

/* end karlos */

/* header.head nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.head nav.navbar .list {
  display: flex;
  gap: 1rem;
}

/* main.main .jumbotron {
  text-align: center;
  padding: 40px;
} */

/* .jumbotron h1 {
  margin-bottom: 8pt;
}

.jumbotron p {
  margin-bottom: 16pt;
} */


/* img {
  height: 100%;
  width: 200px;
} */

 /* renamed */
/* .im {
  border-radius: 30% 0;
  margin-bottom: 8pt;
  height: 100%;
  width: 200px;
} */

/* main.main .im {
  height: 100%;
  width: 200px;
}

.dere {
  text-align: right;
}

.c .c-f {
  display: flex;
  align-items: center;
}

.c .c-s {
  display: flex;
  align-items: center;
}

.reservaaqui {
  padding: 20px;
}

.reservaaqui h2 {
  margin: bottom 8pt;
}
.reservaaqui p {
  margin-bottom: 16pt;
}

.reservaaqui .r-first {
  padding-block-end: 20px;
} */
